$background-color: #40403e;
$themes: (
  classic: (
    square-main-color: #eeeed2,
    square-secondary-color: #8a785d,
    piece-white-color: #eaeeed,
    piece-black-color: #4a4e4d,
  ),
  black-and-white: (
    square-main-color: #eeeed2,
    square-secondary-color: #4a4e4d,
    piece-white-color: #eaeeed,
    piece-black-color: #cb9d58,
  ),
);
