@import '../../../styles/index.scss';

.stats {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

.description,
.section {
  font-family: 'Nunito', sans-serif;
  color: #e3e3e3;
}

.section {
  display: flex;
}

.sectionHeading {
  flex: 1;
}
