@import '../../../styles/colors.scss';

.overlay {
  z-index: 9999;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.overlayCard {
  overflow: hidden;
  background-color: $background-color;
  max-width: min(568px, 100%);
  width: 100%;
  box-shadow: 0 4px 32px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.overlayCardContent {
  overflow-y: auto;
  flex: 1;
  padding: 2rem;
}

.overlayCardFooter {
  padding: 1rem;
  border-top: 1px solid darken($background-color, 5%);
}
