@import '../../styles/index.scss';

@mixin piece-color($color) {
  background: radial-gradient(
      ellipse at center,
      $color 30%,
      rgba(0, 0, 0, 0.2) 45%,
      $color 47.5%,
      rgba(0, 0, 0, 0.2) 80%,
      $color 100%
    ),
    $color;
}

.square {
  aspect-ratio: 1;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $square-main-color;

  @for $row from 0 through 7 {
    @for $column from 1 through 8 {
      &:nth-child(#{$row * 8 + $column}) {
        @if $row % 2 == 0 {
          @if $column % 2 == 0 {
            background-color: $square-secondary-color;
          }
        } @else {
          @if $column % 2 == 1 {
            background-color: $square-secondary-color;
          }
        }
      }
    }
  }
}

.squareFilled {
  cursor: pointer;
}

.squareMoveable {
  $size: 25%;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    width: $size;
    height: $size;
    display: block;
    background-color: $square-main-color;
    border-radius: 100%;
    opacity: 0.8;
    transition: all 0.1s ease;
    animation: blink 2s infinite both;
  }

  &:hover {
    &::after {
      width: calc($size * 1.25);
      height: calc($size * 1.25);
    }
  }
}

.squareIndex {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  font-size: 0.75rem;
  color: #0a0e0d;
  font-family: 'Arial', sans-serif;
}

.piece,
.pieceBlack {
  $size: 70%;

  @media screen and (max-width: 768px) {
    $size: 65%;
  }

  z-index: 99;
  position: absolute;
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  @include piece-color($piece-white-color);
}

.squareHighlighted {
  &::before {
    inset: 0;
    content: '';
    z-index: 5;
    position: absolute;
    display: block;
    opacity: 0.25;
    background-color: turquoise !important;
  }
}

.squareSelected {
  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    inset: 0.15rem;
    border: 0.2rem solid $square-main-color;
    opacity: 0.8;
    animation: blink 2s infinite both;

    @include screen-md() {
      inset: 0.2rem;
      border: 0.25rem solid $square-main-color;
    }

    @include screen-lg() {
      inset: 0.25rem;
      border: 0.3rem solid $square-main-color;
    }
  }
}

.pieceKingIcon {
  color: rgba(0, 0, 0, 0.35);
  font-size: 2vh;

  @media screen and (max-width: 768px) {
    font-size: 1.75vh;
  }

  @media screen and (max-width: 500px) {
    font-size: 1.25vh;
  }
}

.pieceBlack {
  @include piece-color($piece-black-color);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
